<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sendEmail()"
                  color="primary">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of dataLocalService.guardados"
              (click)="openRegister( item )"
              detail>
      <ion-icon slot="start" [name]="item.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ item.text }}</h2>
        <p>{{ item.format}}</p>
        <p>{{ item.created | date: 'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
